.page-barang-detail {
  .gambar {
    position: relative;
    z-index: 1;
    width: 100%;
    margin-bottom: 2rem;

    &__carousel {
      &-image {
        width: 100%;
        text-align: center;

        img {
          display: inline-block;
          max-width: 100%;
          height: auto;
        }
      }
    }

    .slick-arrow {
      display: flex !important;
      justify-content: center;
      align-items: center;

      &::before {
        font-size: 2rem;
        color: $main-black;
      }
    }
  }

  .info {
    &__title {
      margin-bottom: 0.6rem;
      padding: 0 0.75rem;

      h2 {
        font-size: 1.4rem;
      }
    }
  }
}

/* ======================================================================================================== */

@include breakpoint-up(md) {
  .page-barang-detail {
    .main-container {
      max-width: 70%;
    }
  }
}

@include breakpoint-up(lg) {
  .page-barang-detail {
    .main-container {
      max-width: 960px;
    }
  }
}

@include breakpoint-up(xl) {
  .page-barang-detail {
    .main-container {
      max-width: 1140px;
    }
  }
}
