.page-reset {
  .form {
    @include flexCenter();
    flex-direction: column;

    &__error,
    &__reset-form {
      width: 100%;
      max-width: 600px;
    }

    &__submit-btn {
      @include blueButton();
    }
  }
}
